.container {
  width: 90%;
  margin: 0 auto;
}

.container-fluid {
  padding: 8px;
  box-shadow: 0px 0px 15px 0px var(--primary-theme-light-color);
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f";
}

.header-container {
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  grid-area: m;
  text-align: center;
}

.hero-info {
  width: 50%;
  margin: 1rem auto;
}

.hero-img {
  width: 50%;
  margin: 2.5rem auto;
}

.hero-title,
.install-title {
  text-align: left;
  color: var(--dark-theme-color);
}

.hero-description,
.install-description {
  text-align: left;
  color: var(--dark-theme-light-color);
}

.installation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.install-instruction {
  width: 40%;
}

.code-snippet {
  width: 50%;
  margin: 1.5rem 0;
}

.code-box {
  border: 1px solid var(--primary-theme-light-color);
}

.footer-container {
  grid-area: f;
  text-align: center;
  background-color: var(--dark-theme-color);
}

.footer-description {
  font-size: 1.5rem;
  padding: 1em 0;
  color: var(--secondary-theme-color);
}
