.container {
  width: 90%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main-container main-container main-container"
    "footer footer footer";
}

.main-container {
  grid-area: main-container;
  margin-top: 5%;
  text-align: center;
}

.hero-info {
  width: 50%;
  margin: 1rem auto;
}

.hero-img {
  width: 50%;
  margin: 2.5rem auto;
}

.hero-title,
.install-title {
  text-align: left;
  color: var(--dark-theme-color);
}

.hero-description,
.install-description {
  text-align: left;
  color: var(--dark-theme-light-color);
}

.installation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.install-instruction {
  width: 40%;
}

.code-snippet {
  width: 50%;
  margin: 1.5rem 0;
}

.code-box {
  border: 1px solid var(--primary-theme-light-color);
}

.footer-container {
  grid-area: footer;
  text-align: center;
  background-color: var(--dark-theme-color);
}

.footer-description {
  font-size: 1.5rem;
  padding: 1em 0;
  color: var(--secondary-theme-color);
}
