.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "side toast toast";
}

#toast-section {
  grid-area: toast;
}

.toast-wrapper {
  margin: 1rem 0;
  border: 1px solid var(--dark-theme-light-color);
}
