.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "side avatar avatar";
}

#avatar-section {
  grid-area: avatar;
}

.avatar-wrapper,
.avatar-text-wrapper {
  margin: 1rem 0;
  border: 1px solid var(--dark-theme-light-color);
}
